.inicioTitle {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.inicioContainerBg {
    margin: auto;
    display: flex;
    justify-content: center;
}

.inicioContainer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
    justify-content: center;
}

.inicioGrafico {
    width: 100%;
    max-width: 480px;
    border-radius: 10px;
    background-color: var(--cinza);
    border-bottom: 5px solid var(--cinza-escuro);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.inicioPrincipalNoticia {
    width: 100%;
    max-width: 800px;
}

.inicioSegundaNoticia {
    width: 100%;
    max-width: 700px;
}

.inicioTerceiraNoticia {
    width: 100%;
    max-width: 600px;
}

.inicioQuartaNoticia {
    display: flex;
    justify-content: center;
}

.inicioBotao {
    display: flex;
    justify-content: center;
    margin: 30px;

}

.inicioBotaoBg {
    position: relative;
    margin: 100px 0;
    width: 100%;
}

.inicioBotao button {
    color: var(--branco);
    background-color: var(--preto);
    border: 2px solid var(--preto);
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fadeEffect {
    background: linear-gradient(to top, rgb(16, 160, 5, 1)0%, rgba(255, 255, 255, 0.2)100%);
    content: '';
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 100%;
    transform: rotateZ(360deg);
    top: 0px;
}

.inicioBotao button:hover {
    opacity: 0.5;
}