.carouselNewsContainerBg {
    background-color: var(--verde);
    width: calc(210px*5);
    margin: auto;
    overflow: hidden;
    height: 30px;
    display: flex;
}

.carouselNewsContainer {
    display: flex;
    width: calc(210px*10);
    animation: slide 30s linear infinite;
}

.carouselNewsContainer:hover {
    animation-play-state: paused;
}

.carouselNewsContainer div {
    font-size: 0.7rem;
    margin-right: 10px;
    width: 200px;
    background-color: var(--verde);
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: underline;
    color: var(--branco);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.carouselNewsContainer div:hover {
    opacity: 0.5;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-210px*5));
    }
}