.carouselPriceContainerBg {
    background-color: var(--cinza);
    width: calc(160px*7);
    margin: auto;
    overflow: hidden;
    height: 30px;
    outline: var(--cinza-escuro) solid 1px;
}

.carouselPriceContainer {
    display: flex;
    width: calc(160px*14);
    animation: slide 30s linear infinite;
}

.carouselPriceContainer:hover {
    animation-play-state: paused;
}

.carouselPriceContainer div {
    margin-right: 10px;
    width: 150px;
    background-color: green;
    height: 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-160px*7));
    }
}