.carouselNewsContainerBg {
    background-color: var(--verde);
    width: calc(160px*7);
    margin: auto;
    overflow: hidden;
    height: 30px;
    display: flex;
}

.carouselNewsContainer {
    display: flex;
    width: calc(160px*14);
    animation: slide 30s linear infinite;
}

.carouselNewsContainer:hover {
    animation-play-state: paused;
}

.carouselNewsContainer div {
    margin-right: 10px;
    width: 150px;
    background-color: var(--verde);
    height: 30px;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-160px*7));
    }
}