.MenuContainerBg {
    color: var(--branco);
    width: 100%;
}

.MenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.MenuIcon {
    flex-basis: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.MenuIcon div {

    background-color: var(--preto);
    border-radius: 8px;
    border: 2px solid var(--branco);
    color: var(--branco);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.MenuIcon div:hover {
    background-color: var(--branco);
    color: var(--preto);
    border: 2px solid var(--preto);
    opacity: 0.5;
}

.MenuOpt {
    flex-basis: 60%;
}

.MenuOpt div {
    display: flex;
    margin-left: 30px;
}

.MenuOpt div div {
    margin-left: 0;
    font-weight: 100;
    cursor: pointer;
    flex-basis: 90px;
    width: 90px;
    display: flex;
    justify-content: center;

}

.MenuOpt div div:hover {
    font-weight: 500;

}

.MenuEmpty {
    flex-basis: 20%;
}