.menuContainerBg {
    color: var(--branco);
    width: 100%;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.menuIcon {
    flex-basis: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.menuSideBarActive {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1000;
    background-color: var(--preto);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.menuSideBarActive div {
    transition: 0.1s;
    padding: 10px 0;
    cursor: pointer;
}

.menuSideBarActive li {
    transition: 0.1s;
    padding: 10px 10px;
    cursor: pointer;
}

.menuSideBarActive li:hover {
    text-decoration: underline;
    background-color: var(--verde);
}

.menuSideBarClose {
    display: none;
}

.menuSideBarActive div:hover {
    text-decoration: underline;
    background-color: var(--verde);
}

.marketArrowActive div {
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding: 0 !important;
    cursor: pointer;
}

.marketArrowActive svg {
    margin-right: 20px;
}

.marketArrowClose div {
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding: 0 !important;
    cursor: pointer;
}

.marketArrowClose svg {
    margin-right: 20px;
}


.menuIconLupa {
    background-color: var(--preto);
    border-radius: 8px;
    border: 2px solid var(--branco);
    color: var(--branco);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.menuIconLupa:hover {
    background-color: var(--branco);
    color: var(--preto);
    border: 2px solid var(--preto);
    opacity: 0.5;
}

.menuOpt {
    flex-basis: 60%;
    user-select: none;
}

.menuOpt div {
    display: flex;
    margin-left: 30px;
}

.menuOpt div div {
    margin-left: 0;
    font-weight: 100;
    cursor: pointer;
    flex-basis: 90px;
    width: 90px;
    display: flex;
    justify-content: center;

}

.menuOpt div div:hover {
    font-weight: 500;

}

.menuEmpty {
    flex-basis: 20%;
}