.menuContainerBg {
    color: var(--branco);
    width: 100%;
    position: relative;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;

}

.menuIcon {
    flex-basis: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.menuSideBarActive {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1000;
    background-color: var(--preto);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.menuSideBarActive div {
    transition: 0.1s;
    padding: 10px 0;
    cursor: pointer;
}

.menuSideBarActive li {
    transition: 0.1s;
    padding: 10px 10px;
    cursor: pointer;
}

.menuSideBarActive li:hover {
    text-decoration: underline;
    background-color: var(--verde);
}

.menuSideBarClose {
    display: none;
}

.menuSideBarActive div:hover {
    text-decoration: underline;
    background-color: var(--verde);
}

.marketArrowActive div {
    display: flex;
    justify-content: space-between;

    padding: 0 !important;
    cursor: pointer;
}

.marketArrowActive svg {
    margin-right: 20px;
}

.marketArrowClose div {
    display: flex;
    justify-content: space-between;

    padding: 0 !important;
    cursor: pointer;
}

.marketArrowClose svg {
    margin-right: 20px;
}


.menuIconLupa {
    background-color: var(--preto);
    border-radius: 8px;
    border: 2px solid var(--branco);
    color: var(--branco);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.menuIconLupa:hover {
    background-color: var(--branco);
    color: var(--preto);
    border: 2px solid var(--preto);
    opacity: 0.5;
}

.menuOptContainerBg {
    flex-basis: 60%;
    user-select: none;
}

.menuOptContainer {
    display: flex;
    margin-left: 30px;
}

.menuOptContainer a {
    margin-left: 20px;
    font-weight: 100;
    cursor: pointer;
    flex-basis: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    color: var(--branco);
    text-decoration: none;
}

.menuOptContainer a:hover {
    font-weight: 500;
    background-color: var(--verde);
}

.menuOptMarketClose {
    display: none;
}

.menuOptMarketActive {
    position: absolute;
    background-color: var(--preto);
    width: 100%;
    height: 300px;
    top: 50px;
    left: 0;
    z-index: 1000;
    display: flex;
}

.menuOptMarketActive div {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

.menuOptMarketActive div img {
    width: 100%;
    min-width: 100px;
    cursor: pointer;
}

.menuOptMarketActive div img:hover {
    opacity: 0.5;
}

.menuOptMarketActive div h2 {
    font-size: 0.9rem;
    cursor: pointer;
}

.menuOptMarketActive div h2:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.menuOptMarketActive li {
    list-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.menuOptMarketActive li:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.menuOptMarketActive div h1 {
    font-size: 1.4rem;
}

.menuEmpty {
    flex-basis: 20%;
}

@media screen and (max-width: 1000px) {
    .menuContainer {
        position: relative;
    }

    .menuSideBarActive {
        left: -50px;
    }

    .menuOptContainerBg {
        position: absolute;
        left: 0;
        margin-left: 50px;
    }

    .menuIcon {
        position: absolute;
        left: 0;
        margin-left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .menuSideBarActive {
        left: -10px;
    }

    .menuOptContainerBg {
        display: none;
    }

    .menuIcon {
        margin-left: 10px;

    }
}