.moreNews {
    width: 100%;
    max-width: 1440px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.moreNewsContainer {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--cinza);
    border-bottom: 5px solid var(--cinza-escuro);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.moreNews img {
    cursor: pointer;
    min-width: 420px;
    width: 100%;
    align-self: center;
    margin-bottom: 5px;
}

.moreNews img:hover {
    opacity: 0.5;
}

.moreNews h6 {
    margin-bottom: 10px;
}

.moreNews h1 {
    cursor: pointer;
}

.moreNews h1:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.moreNews h4 {
    font-weight: 400;
    text-align: justify;
    margin-bottom: 15px;
    cursor: pointer;
}

.moreNews h4:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.moreNews p {
    font-size: 0.8rem;

}

.moreNews span {
    font-weight: 400;
    cursor: pointer;
}

.moreNews span:hover {
    opacity: 0.5;
    text-decoration: underline;

}