.navBarContainerBg {
    display: flex;
    flex-direction: column;
}

.navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navBarSearch {
    flex-basis: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.navBarSearch div {
    background-color: var(--preto);
    border-radius: 8px;
    color: var(--branco);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.navBarSearch div:hover {
    opacity: 0.5;
}

.navBarSearchInput {
    flex-basis: 20%;
    display: flex;
    position: relative;
}

.navBarSearchInput input {
    padding: 5px 15px;
    border: 1px solid var(--cinza-escuro);
    border-radius: 5px;
    color: var(--cinza-escuro);
}

.navBarSearchInput input:valid~span,
.navBarSearchInput input:focus~span {
    color: var(--verde);
    transform: translateX(10px) translateY(-30px);
}

.navBarSearchInput span {
    position: absolute;
    left: 4px;
    top: 4px;
    color: var(--cinza-escuro);
    border-radius: 5px;
    transition: 0.5s;
    user-select: none;
}


.navBarLogo {
    flex-basis: 40%;
    font-size: 3rem;
    display: flex;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.navBarLogo:hover {
    opacity: 0.5;
}

.navBarLogo span {
    color: var(--verde);
}

.navBarLogin {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.navBarLogin div:nth-child(1) {
    margin: 0 5px;
    color: var(--preto);
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid var(--preto);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    width: 75px;
}

.navBarLogin div:nth-child(2) {
    margin: 0 5px;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    width: 75px;
}

.navBarLogin div:hover {
    opacity: 0.5;
}

.navBarMenu {
    background-color: var(--preto);
    width: 100%;

}

.navBarCarouselNews {
    background-color: var(--verde);
    position: relative;
    display: flex;
    align-items: center;
}

.navBarCarouselNews h2 {
    position: absolute;
    color: var(--branco);
    left: 0;
    font-size: 0.9rem;
    z-index: 1000;
    background-color: var(--verde);
    padding: 5px 5px 5px 230px;
}

@media screen and (max-width: 1000px) {
    .navBarCarouselNews h2 {
        padding: 5px 5px 5px 50px;
    }
}

@media screen and (max-width: 700px) {
    .navBarCarouselNews h2 {
        padding: 5px 5px 5px 5px;
    }
}