.navBarContainerBg {
    display: flex;
    flex-direction: column;
}

.navBarCarousel {
    background-color: var(--cinza);
    border: 1px solid var(--cinza-escuro);
}

.navBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.navBarSearch {
    flex-basis: 20%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.navBarSearch div {
    background-color: var(--preto);
    border-radius: 8px;
    color: var(--branco);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.navBarSearch div:hover {
    opacity: 0.5;
}

.navBarLogo {
    flex-basis: 60%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.navBarLogo:hover {
    opacity: 0.5;
}

.navBarLogo span {
    color: var(--verde);
}

.navBarLogin {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

.navBarLogin div:nth-child(1) {
    margin: 0 5px;
    color: var(--preto);
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid var(--preto);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    width: 75px;
}

.navBarLogin div:nth-child(2) {
    margin: 0 5px;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    width: 75px;
}

.navBarLogin div:hover {
    opacity: 0.5;
}

.navBarDropDownMenu {
    background-color: var(--preto);
    width: 100%;

}

.navBarCarouselNews {
    background-color: var(--verde);
    position: relative;
    display: flex;
    align-items: center;
}

.navBarCarouselNews h2 {
    position: absolute;
    color: var(--branco);
    left: 0;
    font-size: 0.9rem;
    z-index: 1000;
    background-color: var(--verde);
    padding: 5px 0 5px 230px;
}