* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

:root {
  --preto: #000;
  --branco: #fff;
  --verde: #10a005;
  --cinza: #f8f8f8;
  --cinza-escuro: #a8a8a8;

}